.navigation-container {
  display: flex;
  justify-content: center;
}

.test-buttons {
  /* margin-top: 5px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media only screen and (min-width: 600px) {
  .test-buttons {
    gap: 60px;
  }
}
.test-buttons > :first-child {
  grid-column-start: 2;
}

