<app-test-base (next)="next()">
  <app-piano-keys [octaveName]="octaveName"
                  [markedNotes]="markedNotes"
                  (keyPressed)="pianoKeyPressed($event)"></app-piano-keys>
  <div class="navigation-container">
    <div class="test-buttons">
      <button class="button button-square button-play"
              (click)="playGuessing()"
              svg-icon-play>
      </button>
      <button v-if="noteGuessed"
              class="button button-square button-next"
              (click)="next()"
              svg-icon-next>
      </button>
    </div>
  </div>
</app-test-base>

<app-test-modal></app-test-modal>