<app-test-base (next)="next()">
  <app-piano-keys [octaveName]="octaveName"
                  [markedNotes]="markedNotes"
                  (keyPressed)="pianoKeyPressed($event)"></app-piano-keys>
  <div class="navigation-container">
    <div class="test-buttons">
      <button class="button button-square border-none "
              (click)="playGuessing()">
        <span class="tu-icon icon-lg color-dark-gray">воспроизвести</span>
      </button>
      <button *ngIf="noteGuessed"
              class="button button-square border-none"
              (click)="next()">
        <span class="tu-icon icon-lg color-dark-gray">далее</span>

      </button>
    </div>
  </div>
</app-test-base>

<app-test-modal></app-test-modal>
