.skip-note-enter-active {
  transition: opacity 0.5s;
}
.skip-note-leave-active {
  transition: opacity 0.4s;
}
.skip-note-enter,
.skip-note-leave-to {
  opacity: 0;
}

/*modal*/
dialog {
  background: white;
  border: 3px solid var(--color-gray);
  padding: 15px;
}

.modal-content {
  text-align: center;
}

h3 {
  font-size: 2rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons .button {
  width: 135px;
  height: 50px;
  padding: 0;
}
/*modal*/
