<div class="start">
  <h2 class="start__title">Угадайте Ноту</h2>
  <form class="options">
    <div class="options__inputs">
      <label class="input-label"
             for="ocatve">Тональность:</label>
      <div class="inline-component">
        <app-toggle-button (change)="buttonToggled($event)"></app-toggle-button>
        <select id="ocatve"
                class="start-select">
          <option *ngFor="let o of octaves"
                  [value]="o.code">{{o.name}}</option>
        </select>
      </div>
      <label class="input-label"
             for="questionNum">Количество вопросов:</label>
      <select id="questionNum"
              class="start-select">
        <option *ngFor="let n of questionNumbersList"
                [value]="n">{{n}}</option>
      </select>

      <button type="submit"
              class="button">начать</button>
    </div>
  </form>
</div>