.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 90vh;
  width: 99vw;
}

/* #region button */
.button {
  text-decoration: none;
  color: var(--color-black);
  font-size: 1rem;
  border: 2px solid var(--color-black);
  padding: 20px 60px;
  text-transform: uppercase;
  cursor: pointer;
  background: white;
  outline: none;
  transition: border-color 0.2s ease-in;
}
.button:focus,
.button:hover {
  border-color: var(--color-blue);
}

.button-big {
  padding: 20px 60px;
  font-size: 1.5rem;
}
/* #endregion */

.button-square {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.test-header_button svg {
  fill: var(--color-light-gray);
}

.button-square svg {
  height: 2.2rem;
  width: 2.2rem;
}

@media only screen and (min-width: 600px) {
  .button-square {
    height: 5rem;
    width: 5rem;
  }

  .button-square svg {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.input {
  border: 2px solid var(--color-black);
  color: var(--color-black);
  background: var(--color-white);
  width: 250px;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
}

.inline-component {
  display: flex;
}

.inline-component .input {
  border-left: none;
  width: 170px;
}
