@import './assets/fonts/index.css';
@import './elements.css';

:root {
  --color-green: #52be80;
  --color-turquoise: #3ce8bc;
  --color-red: #de534d;
  --color-light-red: #ed5b5b;
  --color-purple: #9b59b6;
  --color-light-purple: #db59f0;
  --color-background: #e0e0e0;
  --color-white: #fcfcfc;
  --color-black: #333;
  --color-blue: #04049d;
  --color-dark-blue: #04045e;
  --color-aqua: #2acdc1;
  --color-dark-gray: #757575;
  --color-gray: #c4c4c4;
  --color-light-gray: #d5d5d5;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: white;
  color: var(--color-black);
}

input,
button {
  font-family: inherit;
}

.svg-dark-gray svg {
  fill: var(--color-dark-gray);
}

svg {
  outline: none;
}

.border-none {
  border: none;
}

.border-gray {
  border-color: var(--color-gray);
}

.text-lg {
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
}
