<div class="test">
  <div *ngIf="!testEnded; else testResultTemplate">
    <div class="test-header">
      <div class="test-header_content">
        <button class="test-header_button"
                (click)="showEndModal()"
                svg-icon-exit>
        </button>
        <div class="test-info">{{ info.currentQuestion}}/{{info.numberOfQuestions}}</div>
        <button class="test-header_button"
                (click)="next()"
                svg-icon-next>
        </button>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
  <ng-template #testResultTemplate>
    <app-test-results [numberOfQuestions]="info.numberOfQuestions"
                      [correctAnswers]="info.numberOfCorrectAnswers"
                      (restartTest)="restart()"></app-test-results>
  </ng-template>
</div>