.test {
  position: fixed;
  height: 99vh;
  width: 99vw;
}
.test-header {
  display: flex;
  justify-content: center;
}
.test-header_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  padding: 10px 15px 0;
}
.test-header_button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.test-header_button > * {
  fill: var(--color-light-gray);
}
.test-info {
  text-align: center;
  padding-top: 0.2rem;
  font-size: 1rem;
}
